<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Search" colSpan="2"></Label>

    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<StackLayout #layout class=" page page-content">
  <Label class="page-icon fa" text="&#xf002;"></Label>
  <SearchForm (search)="buscarAhora($event)" [inicial]="'hola'" ></SearchForm>
  <ListView class="list-group" [items]="this.resultados" (itemTap)="onItemTap($event)"
    style="height: 1250px">
      <ng-template let-x="item">
        <FlexboxLayout flexDirection="row" class="list-group-item">
          <Image src="res://ic_launcher" class="thumb img-circle"></Image>
          <Label [text]="x" class="list-group-item-heading"
            verticalAlignment="center" style="width: 60%"></Label>
    </FlexboxLayout>
  </ng-template>
</ListView>
  
</StackLayout>
